<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AForge" version="2.2.5" targetFramework="net472" />
  <package id="AForge.Video" version="2.2.5" targetFramework="net472" />
  <package id="AForge.Video.DirectShow" version="2.2.5" targetFramework="net472" />
  <package id="CrystalDecisions.CrystalReports.Engine" version="1.0.0" targetFramework="net20" />
  <package id="CrystalDecisions.ReportAppServer" version="1.0.0" targetFramework="net20" />
  <package id="CrystalDecisions.ReportSource" version="1.0.0" targetFramework="net20" />
  <package id="CrystalDecisions.Shared" version="1.0.0" targetFramework="net20" />
  <package id="CrystalDecisions.Windows.Forms" version="1.0.0" targetFramework="net20" />
</packages>